@import "bourbon";
@import "base/base";
@import "neat";
@import "events";
@import "refills/nav";
@import "refills/modal";
@import "pagination";
@import "users";

@media screen and (max-width: 480px)
{
  .site-container{ box-sizing: border-box; overflow-x:hidden; }
}

.center{
  text-align: center;
}

.hidden{
  display: none;
}
