.back_pic{
  height: 500px;
}

.search_container{
  position: relative;
  top:-58px;
  left: 30em;
  display: inline-block;
}

.well.form_container{
  margin: 20px 20% 0px 20%;
}

#new_event{
  display: block;
  margin: 0px auto;
  #map{
    height: 500px;
    width: 100%;
    background-color: #ccc;
    margin: 5px;
  }
}

.eventShowCard{
  .card{
    width: 70%;
    display: block;
    margin: 0px auto;
    &:hover {
      cursor: pointer;

      img {
        opacity: 1;
      }
    }
    .card-image{
      width: 50%;
      display: block;
      margin: 0px auto;
    }
  }
}
